.empleados-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.empleado-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-table {
  border-collapse: collapse;
  font-size: 1rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.content-table tbody {
  border: 1px solid lightgray;
}

.content-table thead tr {
  background-color: rgb(168, 179, 220);
  color: rgb(20, 13, 81);
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 6px 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:hover {
  background-color: rgb(20, 13, 81);
  text-align: left;
  color: white;
}

.content-table tbody tr:nth-of-type(even):hover {
  background-color: rgb(20, 13, 81);
  text-align: left;
  color: white;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(20, 13, 81);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.empleados-btn-editar {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("../assets/editar.png");
  background-size: cover;
  border: none;
}

.empleados-btn-eliminar {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("../assets/delete.png");
  background-size: cover;
  border: none;
}

.modal-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  width: 400px;
  margin-top: 200px;
  background-color: rgb(50, 64, 117);
  color: rgb(168, 179, 220);
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
}

.form-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-edit-container input {
  width: 300px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px 10px;
}
.form-edit-container button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 10px;
}
