.etiquetas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
  margin-left: 60px;
}

.etiquetas-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.etiqueta {
  padding: 5px 10px;
  background-color: rgb(115, 182, 237);
  border-radius: 10px;
  position: relative;
}

.delete-etiqueta {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align: center;
}
