.sideBar-container {
  width: 50px;
  min-height: 85vh;
  background-color: rgb(20, 13, 81);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.sideBar-container div:hover {
  cursor: pointer;
  background-color: rgb(182, 25, 25);
}

.img-logo {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/logo.jpeg");
  background-size: cover;
}

.empleados {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/empleados.png");
  background-size: cover;
}

.clientes {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/clientes.png");
  background-size: cover;
}

.logout {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/logout.png");
  background-size: cover;
}

.proyectos {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/proyectos.png");
  background-size: cover;
}

.tooltip {
  position: relative;
}

.tooltip-box {
  min-width: 110px;
  display: none;
  position: absolute;
  background-color: rgb(50, 64, 117);
  z-index: 500;
  text-align: center;
  color: white;
  padding: 5px 10px;
  bottom: 10px;
  left: 70px;
  border-radius: 5px;
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}

.tooltip-box::after {
  content: "";
  display: block;
  border-right: 7px solid rgb(50, 64, 117);
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: -12px;
  bottom: 7px;
}
